body
{
  padding: 1em;
  margin: 0;
}

form
{
  display: grid;
  grid-template-rows: auto;
  width: 20%;
}

label
{
  padding: 0;
  margin: 0;
  font-size: 2em;
}

input
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 0.5em;
}

#submit
{
  background: rgba(0,255,0, 0.5);
}
